<!DOCTYPE html>

<html lang ="en">

	<head>
		<title>Bid Confirmation</title>	
		<meta charset="utf-8">		
	</head>
	
	<body>
	
		<div class = "Title">
			<h2> Bid Confirmation </h2>
		</div>
		
		<div >
            <h3>(Item Title)</h3>
        </div>
        
        <h5>//Using JavaScript we can choose what message to show. also this should be a redirect after bidding?</h5>
        
        <div>
            <p>Congratulations! Your bid has been approved!</p>
        </div>

        <div> 
            <p>We're sorry, an error occurred when trying to submit your bid. Please try again.</p>
        </div>
        
        <div>
            <button type = "button"> Go to Item </button>
        </div>


		
	</body>

</html>
