<!DOCTYPE html>

<html lang ="en">

	<head>
		<title>Auction</title>	
		<meta charset="utf-8">		
	</head>
	
	<body>
	
		<div class = "MenuPage">
			<h1> Menu </h1>
		</div>
		
		<div class = "MenuList">
			<div>
				<a>Auction Item List </a>
				<br>
				<a>My Bids </a>
			</div>
			<br>
			<div>
				<a>Search</a>
				<br>
				<a>Message Administrator</a>
				<br>
				<a> REPORTS</a>
				<br>
				<a>Austion Settings</a>
				<br>
				<a> Profile Settings</a>
			</div>
			<br>
			<div>
				<a>Log Out</a>
			</div>
			
		</div>
		
	</body>

</html>
